@import "index.css";

.announcement_btn {
    background-color: var(--light);
    color: var(--text_color);
    border: 1px solid var(--border_color);
    &:hover {
      background-color: var(--hover);
      color: black;
    }
  }