@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
:root {
  --light: rgb(187, 205, 229);
  --deep: rgb(95, 154, 231);
  --deeper: rgb(60, 133, 235);
  --background-color: rgba(230, 230, 230, 0.3);
  --card_body: rgb(255, 255, 255);
  --text_color: black;
  --small_text_color: rgba(0, 0, 0, 0.7);
  --border_color: rgb(210, 210, 210);
  --hover: rgba(245, 222, 179, 0.8);
  --filter-brightness: 100%;
  --post_reply_bgc: rgb(232, 229, 229);
  --reply_textaera: white;
}

body.dark_mode {
  --light: rgb(21, 70, 116);
  --deep: rgb(45, 104, 181);
  --deeper: rgb(30, 103, 205);
  --background-color: rgba(12, 10, 10, 0.6);
  --card_body: rgb(61, 59, 59);
  --text_color: white;
  --small_text_color: rgba(255, 255, 255, 0.7);
  --border_color: rgb(210, 210, 210);
  --hover: tomato;
  --filter-brightness: 80%;
  --post_reply_bgc: rgb(12, 11, 11);
  --reply_textaera: gray;
}

.common_bgc {
  background-color: white;
  border: 1px solid var(--border_color);
  border-radius: 5px;
}

.nav_hover_setting, .navBar .navBar_right .navBar_right_bot ul li:hover, .navBar .navBar_right .navBar_right_bot label[for=burger]:hover,
.navBar .navBar_right .navBar_right_bot #burger:hover, .navBar .navBar_right .navBar_right_top a:hover {
  background-color: var(--deep);
  color: var(--hover);
  border-radius: 5px;
}

.card-body {
  background-color: var(--card_body);
  color: var(--text_color);
}

.filter {
  filter: brightness(var(--filter-brightness));
}

.filter_NSFW {
  filter: brightness(80%) blur(15px);
}

.NSFW_label::before {
  content: "點擊查看";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--text_color);
  border: 1px solid white;
  z-index: 10;
  cursor: pointer;
}

.text_hover:hover {
  color: var(--deep);
}

small {
  color: var(--small_text_color);
}

.no_outline {
  border-radius: 10px;
  transition: transform 0.2s ease;
}
.no_outline:hover {
  background-color: var(--deep);
  transform: translateY(1px);
}
.no_outline:focus {
  outline: none;
  box-shadow: none;
}

body {
  background-color: var(--background-color) !important;
  font-family: "Noto Sans TC";
  transition: 0.3s ease;
}
body a {
  color: var(--text_color);
  text-decoration: none;
}

input {
  padding-left: 10px;
  color: var(--text_color);
}
input:focus {
  outline: none;
}

::-moz-placeholder {
  color: var(--text_color);
  opacity: 50%;
}

::placeholder {
  color: var(--text_color);
  opacity: 50%;
}

.navbar_margin {
  margin-bottom: 95px;
}

.navBar {
  display: flex;
  max-height: 80px;
  background-color: var(--light);
  box-shadow: 0px 5px 5px rgb(52, 52, 52);
  transition: 0.3s ease;
}
.navBar .navBar_left {
  display: flex;
  align-items: center;
}
.navBar .navBar_left .search_bar {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.navBar .navBar_left .search_input {
  border: none;
  width: 200px;
  height: 30px;
  background-color: var(--deep);
  border-radius: 25px 0 0 25px;
}
.navBar .navBar_left .search_btn {
  background-color: var(--deeper);
  color: var(--text_color);
  border-radius: 0 25px 25px 0;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.navBar .navBar_left .search_btn img {
  display: flex;
  align-self: center;
}
.navBar .navBar_right {
  display: flex;
  flex-direction: column;
  position: static;
}
.navBar .navBar_right .navBar_right_top {
  display: flex;
  align-self: end;
}
.navBar .navBar_right .navBar_right_top a {
  display: flex;
  color: var(--text_color);
  padding: 0 5px;
  text-align: center;
  transition: background-color 0.2s;
  transition: color 0.3s;
}
.navBar .navBar_right .navBar_right_bot {
  display: flex;
  align-self: end;
  margin-top: auto;
}
.navBar .navBar_right .navBar_right_bot label[for=burger],
.navBar .navBar_right .navBar_right_bot #burger {
  display: none;
  text-align: center;
  border-radius: 8%;
  width: 30px;
  font-size: 20px;
  margin-right: 20px;
  transition: background-color 0.2s;
  transition: color 0.3s;
  color: var(--text_color);
}
.navBar .navBar_right .navBar_right_bot ul {
  display: flex;
  list-style: none;
}
.navBar .navBar_right .navBar_right_bot ul li {
  padding: 0 10px;
  transition: background-color 0.3s;
}
.navBar .navBar_right .navBar_right_bot ul li a {
  color: var(--text_color);
  transition: color 0.2s;
}
.navBar .navBar_right .navBar_right_bot ul li a:hover {
  color: var(--hover);
}
.navBar .navBar_right .navBar_right_bot ul li :last-child {
  border: none;
}
.navBar .navBar_right .navBar_right_bot .form-check {
  margin: 0 0 5px 3px;
}
.navBar .navBar_right .navBar_right_bot .form-switch .form-check-input {
  height: 20px;
  width: 48px;
}
.navBar .navBar_right .navBar_right_bot .form-switch .form-check-input {
  background-color: gold;
  border: none;
  outline: 0;
  box-shadow: inset -1px 1px 3px 1px black;
  background-image: url("../img/HomePage/sun.svg");
}
.navBar .navBar_right .navBar_right_bot .form-switch .form-check-input:checked {
  box-shadow: inset -1px 1px 3px 1px black;
  background-color: silver;
  border: none;
  background-image: url("../img/HomePage/moon.svg");
}

.right_fixed {
  position: static;
  z-index: 10;
}
.right_fixed .sideMenu {
  margin-top: 95px;
  width: 300px;
  height: auto;
  background-color: var(--light);
  border: 3px solid var(--deep);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 0 5px rgba(23, 23, 54, 0.6);
  position: fixed;
  top: 0;
  right: -50px;
  transform: translateX(85%);
  transition: 0.3s;
}
.right_fixed .sideMenu label {
  width: 20px;
  height: 80px;
  background-color: var(--light);
  position: absolute;
  right: 297px;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 80px;
  text-align: center;
  border-radius: 5px 0 0 5px;
  color: var(--text_color);
  cursor: pointer;
}
.right_fixed .sideMenu label:hover {
  background: var(--deep);
  color: var(--hover);
}
.right_fixed .sideMenu nav a {
  display: block;
  color: black;
  padding: 10px 20px;
  position: relative;
  color: var(--text_color);
}
.right_fixed .sideMenu nav a:hover {
  color: var(--hover);
  background-color: var(--deep);
  border: none;
}
.right_fixed .sideMenu nav a + a::before {
  content: "";
  position: absolute;
  border-top: 1px solidvar(--deeper);
  left: 10px;
  right: 10px;
  top: 0px;
}
.right_fixed #sideMenu-active:checked + .sideMenu {
  transform: translateX(20%);
}
.right_fixed #sideMenu-active:checked + .sideMenu label > svg {
  transform: scaleX(-1);
}
.right_fixed #sideMenu-active {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.common_bgc {
  background-color: var(--background-color);
  color: var(--text_color);
}

.page_color {
  color: var(--text_color);
  background-color: var(--background-color);
}
.page_color:hover {
  background-color: var(--hover);
}

@media screen and (max-width: 1100px) {
  .navBar_right ul {
    display: block !important;
    position: absolute;
    top: 100%;
    right: 10%;
    width: 150px;
    height: auto;
    padding: 0px;
    background-color: var(--light);
    border: 1px solid gray;
    border-top: none;
    border-radius: 0 0 5% 5%;
    box-shadow: 3px 3px 3px gray;
    transform: translateY(-200%);
    transition: 0.3s;
    z-index: -1;
  }
  .navBar_right ul li {
    text-align: center;
    margin-top: 10px;
    width: auto;
    height: auto;
  }
  .navBar_right label {
    cursor: pointer;
    display: block !important;
  }
  .navBar_right #burger:checked + ul {
    display: block !important;
    transform: translateY(0);
  }
}
@media screen and (max-width: 768px) {
  .navBar_left .Logo {
    width: 200px !important;
  }
  .navBar_left .search_bar input {
    width: 100px !important;
    font-size: smaller;
  }
  .navBar_right {
    align-items: center;
    margin-top: -10px;
    justify-content: flex-end;
    flex-direction: row !important;
  }
  .navBar_right .navBar_right_top {
    margin-top: 10px;
  }
  .navBar_right .navBar_right_bot label[for=burger],
  .navBar_right .navBar_right_bot #burger {
    margin-right: 5px !important;
  }
}
.navbg {
  background-color: var(--light) !important;
  border-radius: 5px;
}

.article_nav {
  background-color: var(--light);
  border-radius: 5px;
}
.article_nav h2 {
  color: var(--text_color);
}
.article_nav .psot_btn {
  margin: 0 auto 0 10px;
  padding: 0 5px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: var(--deeper);
  color: var(--text_color);
  border-radius: 5px;
  transition: transform 0.2s ease;
}
.article_nav .psot_btn:hover {
  background-color: var(--deep);
  transform: translateY(1px);
}
.article_nav a {
  color: var(--text_color);
}
.article_nav a:hover {
  color: tomato;
}
.article_nav .active {
  color: tomato !important;
}
.article_nav .dropdown-menu {
  width: 50px !important;
  background-color: var(--light);
  color: var(--text_color);
  border-radius: 0px 0px 5px 5px;
  box-shadow: 5px 5px 5px;
  transition: ease-in 0.2s;
}

.article_announcement {
  background-color: rgba(255, 99, 71, 0.3) !important;
}
.article_announcement:hover {
  background-color: var(--hover) !important;
}

.article_title {
  border-radius: 5px;
  display: flex;
  border: 1px solid var(--border_color);
  background-color: var(--background-color);
  margin-bottom: 10px;
  transition: background-color 0.2s;
}
.article_title:hover {
  background-color: var(--hover);
  cursor: pointer;
}
.article_title img {
  border-radius: 5px 0 0 5px;
}
.article_title .article_title_title {
  color: var(--text_color);
  width: 950px;
  padding: 5px;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  box-sizing: border-box;
}
.article_title .article_title_title h5 {
  margin-top: 5px;
}
.article_title .article_title_title P {
  margin: 15px 0 0 5px;
}
.article_title .article_title_lasted_update {
  font-size: small;
  color: var(--text_color);
  margin-left: auto;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: solid 1px var(--border_color);
}

@media screen and (max-width: 1400px) {
  .article_title_container .article_title_lasted_update {
    display: none;
  }
}/*# sourceMappingURL=article_section.css.map */