@import "index.css";

.common_problem {
    .btn {
      background-color: var(--deep);
      border-color: var(--border_color);
      color: var(--text_color);
      &:hover {
        background-color:var(--light);
        color: white;
      }
    }
    .text {
      color: var(--text_color);
    }
    }