@charset "UTF-8";
@import "index.css";
.carousel-item .carousel_text {
  background: var(--deeper);
}

.famous_topic {
  background-color: var(--card_body);
  border: 1px solid var(--border_color);
  border-radius: 5px;
}
.famous_topic .famous_topic_chose {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0 0 0 0;
  margin: 5px 0 2px 0;
}
.famous_topic .famous_topic_chose .active {
  background-color: var(--deep);
  color: white;
}
.famous_topic .famous_topic_chose li {
  font-size: larger;
  border-radius: 5px;
  font-weight: bolder;
  padding: 0 3px;
  color: var(--text_color);
}
.famous_topic .famous_topic_chose li:hover {
  background-color: var(--deep);
  color: white;
  cursor: pointer;
}
.famous_topic .famous_topic_fixed {
  background-color: wheat;
  font-weight: bold;
}
.famous_topic .famous_topic_rank {
  margin: 10px 0;
  transition: 0.3s ease;
}
.famous_topic .famous_topic_rank .num {
  width: 24px;
  height: 24px;
  text-align: center;
  background-color: var(--hover);
  margin-left: 5px;
  border-radius: 5px;
}
.famous_topic .famous_topic_rank .famous_topic_rank_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.famous_topic .famous_topic_rank .famous_topic_rank_title a:hover {
  color: var(--deep);
  font-weight: bold;
}
.famous_topic .famous_topic_rank span {
  color: var(--text_color);
}

.PointStore {
  background-color: var(--card_body);
  border: 1px solid var(--border_color);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.PointStore:hover .Store_Container_btn .btn_next {
  right: -2px;
}
.PointStore:hover .Store_Container_btn .btn_pre {
  left: -2px;
}
.PointStore .PointStore_Title {
  font-size: 1.8rem;
  font-weight: bold;
  width: auto;
  color: var(--text_color);
  margin: 8px 0px 0px 10px;
  border-radius: 5px;
}
.PointStore .Store_Container_border {
  padding: 15px;
}
.PointStore .Store_Container {
  overflow: auto; /* 改為auto，只有在需要時才會出現滾動條 */
  scrollbar-width: none; /* 對於Firefox */
  -ms-overflow-style: none; /* 對於Internet Explorer和Edge */
}
.PointStore .Store_Container::-webkit-scrollbar {
  /* 對於Chrome、Safari和Opera */
  display: none;
}
.PointStore .Store_Container .Store_Container_row {
  display: flex;
  padding: 5px;
}
.PointStore .Store_Container .Store_Container_row .card {
  min-width: 180px;
  min-height: 223px;
  margin: 0px 2.5px;
}
.PointStore .Store_Container .Store_Container_row .card-body {
  border-radius: 0px 0px 5px 5px;
  padding: 0px 5px;
}
.PointStore .Store_Container .Store_Container_row .card-body .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.PointStore .Store_Container .Store_Container_row .card-body .card-text:hover {
  color: var(--deeper);
}
.PointStore .Store_Container .Store_Container_row .card-body .Goods_Info_Price {
  margin-left: 40%;
  font-weight: 900;
  font-size: larger;
}

.Store_Container_btn .btn_next,
.Store_Container_btn .btn_pre {
  color: var(--deep);
  font-weight: 900;
  font-size: 1.2rem;
  width: 30px;
  height: 60px;
  background-color: var(--light);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.Store_Container_btn .btn_next:hover,
.Store_Container_btn .btn_pre:hover {
  color: var(--text_color);
  background-color: var(--deep);
}
.Store_Container_btn .btn_next {
  right: -20px;
}
.Store_Container_btn .btn_pre {
  left: -20px;
}

#infiniteScrolling .infiniteScrolling_item {
  background-color: var(--card_body);
  border: 1px solid var(--border_color);
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  #infiniteScrolling .RWD_none {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  #infiniteScrolling {
    display: none;
  }
}/*# sourceMappingURL=home_page.css.map */