@charset "UTF-8";
@import "index.css";
.nav {
  position: sticky;
  top: 90px;
  z-index: 10;
}
.nav .store_search_bar_container {
  border: 1px solid var(--border_color);
  border-right: none;
  border-bottom: none;
  border-radius: 5px 0px 0px 0px;
  background-color: var(--deep);
}
.nav .store_search_bar_container .store_search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.nav .store_search_bar_container .store_search_input {
  border: none;
  width: 80%;
  height: 40px;
  background-color: var(--background-color);
  border-radius: 10px 0 0 10px;
}
.nav .store_search_bar_container .store_search_btn {
  background-color: var(--background-color);
  color: var(--text_color);
  border-radius: 0 10px 10px 0;
  width: 30px;
  height: 40px;
  border: none;
  cursor: pointer;
}
.nav .store_search_bar_container .store_search_btn img {
  display: flex;
  align-self: center;
}
.nav .shopping_info {
  border: 1px solid var(--border_color);
  border-left: none;
  border-bottom: none;
  border-radius: 0px 5px 0px 0px;
  height: 80px;
  background-color: var(--deep);
}
.nav .shopping_info .icons {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav .shopping_info .icons svg {
  width: 30px;
  height: 100%;
}
.nav .shopping_info .icons .shopping_icon {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
}
.nav .shopping_info .icons .shopping_icon:hover {
  color: var(--special_hover);
}

.PointStore {
  background-color: var(--card_body);
  border: 1px solid var(--border_color);
  border-top: none;
  border-bottom: none;
  position: relative;
  overflow: hidden;
}
.PointStore:hover .Store_Container_btn .btn_next {
  right: -2px;
}
.PointStore:hover .Store_Container_btn .btn_pre {
  left: -2px;
}
.PointStore .Store_Container_border {
  padding: 15px;
}
.PointStore .Store_Container {
  overflow: auto; /* 改為auto，只有在需要時才會出現滾動條 */
  scrollbar-width: none; /* 對於Firefox */
  -ms-overflow-style: none; /* 對於Internet Explorer和Edge */
}
.PointStore .Store_Container::-webkit-scrollbar {
  /* 對於Chrome、Safari和Opera */
  display: none;
}
.PointStore .Store_Container .Store_Container_row {
  display: flex;
  padding: 5px;
}
.PointStore .Store_Container .Store_Container_row .card {
  min-width: 180px;
  min-height: 223px;
  margin: 0px 2.5px;
}
.PointStore .Store_Container .Store_Container_row .card-body {
  border-radius: 0px 0px 5px 5px;
  padding: 0px 5px;
}
.PointStore .Store_Container .Store_Container_row .card-body .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.PointStore .Store_Container .Store_Container_row .card-body .card-text:hover {
  color: var(--deeper);
}
.PointStore .Store_Container .Store_Container_row .card-body .Goods_Info_Price {
  margin-left: 45%;
  font-weight: 900;
  font-size: larger;
}
.PointStore .Store_Container_btn .btn_next,
.PointStore .Store_Container_btn .btn_pre {
  color: var(--deep);
  font-weight: 900;
  font-size: 1.2rem;
  width: 30px;
  height: 60px;
  background-color: var(--light);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.PointStore .Store_Container_btn .btn_next:hover,
.PointStore .Store_Container_btn .btn_pre:hover {
  color: var(--text_color);
  background-color: var(--deep);
}
.PointStore .Store_Container_btn .btn_next {
  right: -20px;
}
.PointStore .Store_Container_btn .btn_pre {
  left: -20px;
}

.goods_container {
  background-color: var(--card_body);
  border: 1px solid var(--border_color);
  border-top: none;
  border-bottom: none;
  padding: 20px 0px;
}
.goods_container .goods_cards_nav {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.goods_container .goods_cards_nav::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 18%;
  transform: translateY(-50%);
  width: 70%;
  height: 1px;
  background: linear-gradient(to right, #ffffff 0%, var(--text_color) 50%, #ffffff 100%);
}
.goods_container .goods_cards_nav .sorts_title {
  font-weight: bolder;
  margin-left: 5px;
  color: var(--text_color);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.goods_container .goods_cards_nav .watch_more {
  margin-right: 5px;
  margin-bottom: 20px;
}
.goods_container .goods_cards_nav .watch_more:hover {
  color: var(--text_hover);
}
.goods_container .goods_cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.goods_container .goods_cards .card {
  max-width: 200px;
  min-width: 130px;
  box-shadow: 1px 1px 10px var(--text_color);
  margin: 0px 5px 10px 5px;
}
.goods_container .goods_cards .card .card-body {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  padding: 0px 5px;
}
.goods_container .goods_cards .card .card-body .Goods_Info_Price {
  font-weight: bold;
  font-size: large;
  color: var(--deeper);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.goods_container .goods_cards .card .put_in_order {
  text-align: center;
  cursor: pointer;
  background-color: var(--card_body);
  border-radius: 0px 0px 5px 5px;
}
.goods_container .goods_cards .card .put_in_order:hover {
  color: var(--text_hover);
}

.last_one {
  border-bottom: 1px solid var(--border_color);
  border-radius: 0 0 5px 5px;
}

@media screen and (max-width: 768px) {
  .goods_cards .card .card-body {
    font-size: small;
  }
  .goods_cards .card .Goods_Info_Price {
    font-size: smaller !important;
  }
}/*# sourceMappingURL=point_store.css.map */